body{
    font-family: Helvetica;
	font-size: small;
	background: #E7FEF6;
}

.Links{
    display: left;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 0px;
}

.aufgabe1{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe1:hover {
    background-color: #8df5bc;
}

.aufgabe1:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.aufgabe2{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe2:hover {
    background-color: #8df5bc;
}

.aufgabe2:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.aufgabe3{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe3:hover {
    background-color: #8df5bc;
}

.aufgabe3:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.aufgabe4{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe4:hover {
    background-color: #8df5bc;
}

.aufgabe4:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.aufgabe5{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe5:hover {
    background-color: #8df5bc;
}

.aufgabe5:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.aufgabe6{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe6:hover {
    background-color: #8df5bc;
}

.aufgabe6:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.aufgabe7{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe7:hover {
    background-color: #8df5bc;
}

.aufgabe7:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.flow{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.flow:hover {
    background-color: #8df5bc;
}

.flow:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.aufgabe8{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe8:hover {
    background-color: #8df5bc;
}

.aufgabe8:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.aufgabe9{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.aufgabe9:hover {
    background-color: #8df5bc;
}

.aufgabe9:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}

.flows{
    border: 1px solid;
    text-align: center;
    width: 50px;
    display: block;
    padding: 15px 20px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #40d8bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #6f9ae9;
    margin: 4px 0px;
    font-family: Arial, Helvetica, sans-serif
}

.flows:hover {
    background-color: #8df5bc;
}

.flows:active {
  box-shadow: 0 5px #40d8bd;
  transform: translateY(4px);
}